html {
    background-color: rgb(240, 240, 240);
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 87%;
}
.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 5px solid black;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.site-nav {
    margin-top: 0;
}
.site-nav ul {
    margin: 0;
    padding: 0;
}
.site-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 3px solid rgb(0, 0, 0);
    border-bottom: none;
    display: block;
}
.site-nav a:hover {
    background-color: grey;
}
.site-nav li {
    list-style: none;
    margin-left: 60px;
    margin-right: 60px;
}
/*slideshow*/
.image-banner {
    top: 10px;
    left: 100px;
    z-index: 10;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;left: 155px;
}
.image-banner img {
    display:block;

}
.cycle-slideshow {
    margin-bottom: 30px;
    width: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.slide {
    margin-bottom: 30px;
    box-sizing: border-box;
}
.slide-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.slide-text h3 {
    margin: 0;
}
.slide-text p {
    color: rgb(0, 0, 0);
}
/*slideshow end*/
/*prev and next*/
.cycle-prev, .cycle-next {
    position:absolute;
    width: 20%;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.881);
    color: rgb(0, 0, 0);
    padding: 1px 10px;
    display: block;
    cursor: pointer;
    font-size: 130%;
    z-index: 1000;
    opacity: 0;
    transition: opacity .5s;
}
.cycle-next {
    right: 7%;
}
.cycle-prev {
    right: 100%;
}
.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next {
    opacity: 1;
}
/*prev and next end*/
.content {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.fix {
    clear: both;
}
header h1 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer h1 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}
p {
    text-align: center;
}
ul {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
footer h2 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}
